* {
    color: var(--yd-color-text-primary);
    font-family:var(--font-family-primary);
    margin: 0;
    padding: 0;
    transition: font-size .2s ease-in-out;
    transition: background-color .2s ease-in-out;
    line-height: 140%;
    box-sizing: border-box;
    *::-webkit-scrollbar {
        height:0; 
        width:0; 
    }
    body {
        background-color:var(--yd-color-surface-primary);
    }
    p, a, li {
        transition: font-size .2s ease-in-out;
    }
    a, ul {
        text-decoration: none;
    }
    ::marker {
        color: transparent;
    }    

}