// Helpers
.z-index-1 {
    z-index: 1;
}
.pointer-events--none {
    pointer-events: none;
}
.w--20px {
    width: 1.25rem;
}
.w--100 {
    width: 100%;
}
.w--fit-content {
    width: fit-content;
}
.cursor--pointer {
    cursor: pointer;
}
.text--ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.transition--bg {
    transition:background-color .2s ease-in-out;
}
.display--none {
    display: none;
}