$grey-0                                                                 :#F9F9F9;
$grey-50                                                                :#eeeeee;
$grey-100                                                               :#DDDDDD;
$grey-200                                                               :#C6C6C6;
$grey-300                                                               :#AFAFAF;
$grey-400                                                               :#7F7F7F;
$grey-500                                                               :#4F4F4F;
$grey-550                                                               :#2b2b2b;
$grey-600                                                               :#1b1d1f;
$grey-650                                                               :#151718;
$grey-700                                                               :#0B0C0C;

$brand-0                                                                :#d9ed92;
$brand-50                                                               :#99d98c;
$brand-100                                                              :#76c893;
$brand-200                                                              :#168aad;
$brand-300                                                              :#1a759f;
$brand-400                                                              :#1e6091;
$brand-500                                                              :#184e77;

$danger-0                                                               :#ffd4d1;
$danger-100                                                             :#F97066;
$danger-200                                                             :#F04438;
$danger-300                                                             :#D92D20;
$danger-400                                                             :#B42318;
$danger-500                                                             :#941c14;
$danger-600                                                             :#520b06;

$warning-0                                                              :#FFF8E1; 
$warning-100                                                            :#FFE59E; 
$warning-200                                                            :#FFD666; 
$warning-300                                                            :#FFB020; 
$warning-400                                                            :#F79009; 
$warning-500                                                            :#DC6803; 
$warning-600                                                            :#ad5100; 

$success-0                                                              :#dafff3;
$success-50                                                             :#beffe2;
$success-100                                                            :#079455;
$success-200                                                            :#067647;
$success-300                                                            :#085D3A;
$success-400                                                            :#074D31;
$success-500                                                            :#053c26;

$blue-0                                                                 :#dbf6ff;  
$blue-100                                                               :#a9d6e5;  
$blue-200                                                               :#89c2d9;  
$blue-300                                                               :#61a5c2;  
$blue-400                                                               :#468faf;  
$blue-500                                                               :#1a4b5f;  
$blue-600                                                               :#0d2c38;  